@import url('reset.css');

#outer-wrapper{
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  width:1280px;
  height:800px;
  margin:0 auto;
  border:1px solid black;
}

#vs{
  width:200px;
  height:200px;
  border:1px solid black;
  margin:10px;
  padding:10px;
}

.movie-poster{
  width:400px;
  height:600px;
  border:1px solid black;
  margin:10px;
  padding:10px;
}

#generate-btn{
  width:200px;
  height:50px;
  border-radius:20px;
  background-color:blue;
  line-height:50px;
}